<p style="color: green"><%= notice %></p>

<%= render @commentable %>

<div>
  <%= link_to "Edit this post", edit_post_path(@commentable) %> |
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @commentable, method: :delete %>
</div>
<h5>All comments</h5>
        <% @commentable.comments.each do |comment| %>
          <%= comment.content %>
          <%= button_to "Destroy", [@commentable, comment ], method: :delete %><hr/>
          <% end %><hr/>
      <h5>Add comment</h5>

      <p>
        <%= form_for ([@commentable, @comment]) do |f| %>
          <p>
            <%= f.text_field :content %>
          </p>

          <p>
            <%= f.submit class:"btn btn-outline-warning" %>
          </p>

        <% end %>
